@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --blue-color: #00B1E9;
  --primary-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

.home,
.about,
.contact {
  width: 100%;
  height: 100vh;
}

/** ------------------ Navigation --------------------  */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav-link-title.active {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-link-title {
  text-decoration: none;
  color: var(--primary-color);
}

.fa-solid.fa-bars,
.nav-title {
  font-size: 1.7em;
}

.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}

.nav-link {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;

  background: linear-gradient(150.27deg, rgba(255, 255, 255, 0.4) 5.97%, rgba(255, 255, 255, 0.271875) 42.85%, rgba(255, 255, 255, 0.1) 92.32%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 40px;
  transition: 0.5s;
}

.nav-title {
  transition: 0.5s;
}

.nav-title:hover {
  color: var(--blue-color);
}

.link {
  text-decoration: none;
  margin: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  transition: .5s;
}

.link:hover {
  color: var(--blue-color);
}

.active {
  color: var(--blue-color);
}

/** ------------------ Video --------------------  */

.video {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  transition: .6s;
}

/** ------------------ Home Page --------------------  */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .6;
  z-index: -1;
}

.home-content,
.about-content,
.contact-content {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.home-content h1 {
  font-size: 3rem;
}

.proffessions {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.proffessions h2 {
  margin: 0 .5em;
}

.student {
  color: var(--blue-color);
}

.home-content p {
  max-width: 700px;
  text-align: center;
  font-size: 1.2rem;
}

.qoute {
  color: var(--blue-color);
}

.page-animation {
  position: absolute;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  transition: .5s;
  animation: scroll 1s infinite ease-in-out;
}

.next-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.next-page i {
  font-size: 1.3rem;
}

.next-page h3 {
  font-size: .9rem;
  text-transform: uppercase;
}

@keyframes scroll {
  from {
    transform: translateY(-20px)
  }
  to {
    transform: translateY(0);
  }
}

.socials {
  position: absolute;
  bottom: 20px;
  display: flex;
  padding: 1em;
  align-items: center;
  margin-top: 3em;
}

.socials a i {
  font-size: 1.5rem;
  transition: .6s;
  cursor: pointer;
  margin: 0 .8em;
}

.socials a i:hover {
  transform: translateY(-10px);
  color: var(--blue-color);
}

/** ------------------ About Page --------------------  */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-title {
  font-size: 4rem;
  margin-bottom: .1em;
}

.about-me p {
  font-size: 1.2rem;
  max-width: 750px;
  text-align: center;
}

.fame-text {
  margin-top: 1em;
  max-width: 400px;
  text-align: center;
}


/** ------------------ Contact Page --------------------  */
.form {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3em;
  justify-content: space-between;

  background: linear-gradient(150.27deg, rgba(255, 255, 255, 0.4) 5.97%, rgba(255, 255, 255, 0.271875) 42.85%, rgba(255, 255, 255, 0.1) 92.32%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 40px;
}

.form input {
  height: 20%;
}

.form textarea {
  height: 40%;
  resize: none;
  margin: 1em 0;
}

.form input,
.form textarea {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: .8em;
  color: var(--primary-color);
  background: black;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
}

.send {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.send button {
  padding: .8em;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--blue-color);
  border: none;
  outline: none;
  width: 20%;
  margin-top: 0.7em;
  transition: 0.5s;
  cursor: pointer;
}

.send button:hover {
  color: black;
  background-color: var(--primary-color);
}

/** ------------------ Mobile Responsive --------------------  */

@media only screen and (max-width: 600px) {
  .nav{
    padding: 1.5em;
  }
  /*^ ----------- Home Page ----------  */
  .home-content h1 {
    font-size: 2.3rem;
  }
  .proffessions h2 {
    font-size: 1.2rem;
  }
  .home-content p {
    font-size: 1rem;
    padding: 1em;
  }
  
  /*^ ----------- About Page ----------  */
  .about-me {
    padding: 1em;
  }
  .about-me p {
    font-size: 1rem;
  }
  .about-me-title {
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }

  .fame-text {
    margin: 0;
  }
  .page-animation {
    bottom: 100px;
  }

  /*^ ----------- Contact Page ----------  */
  .form {
    width: 80%;
    gap: 0;
    padding: 2em;
  }
  .form input {
    height: 15%;
  }
  .send button {
    width: 40%;
    margin: 0;
  }
}